* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
#main{
    height:100vh;
    

}

#header{
    
    
    height:33.33%;
   
    border:2px solid black;
    
}
#column1, #column2, #column3{
    width: 33.33%;
    float: left;
    
    border:2px solid black;
    
    
    height:66.66%;
    

}
